      /*::::::   ::::::::   :::::::: :::::::::::     :::     :::  
    :+:    :+: :+:    :+: :+:    :+:    :+:       :+: :+:   :+:   
   +:+        +:+    +:+ +:+           +:+      +:+   +:+  +:+    
  +#++:++#++ +#+    +:+ +#+           +#+     +#++:++#++: +#+     
        +#+ +#+    +#+ +#+           +#+     +#+     +#+ +#+      
#+#    #+# #+#    #+# #+#    #+#    #+#     #+#     #+# #+#       
########   ########   ######## ########### ###     ### ########## 

      ::::::::   ::::::::  :::::::::  ::::::::::: :::        :::            :::      :::::::: 
    :+:    :+: :+:    :+: :+:    :+:     :+:     :+:        :+:          :+: :+:   :+:    :+: 
   +:+        +:+    +:+ +:+    +:+     +:+     +:+        +:+         +:+   +:+  +:+         
  :#:        +#+    +:+ +#++:++#       +#+     +#+        +#+        +#++:++#++: +#++:++#++   
 +#+  ###+# +#+    +#+ +#+    +#+     +#+     +#+        +#+        +#+     +#+        +#+    
#+#    #+# #+#    #+# #+#    #+#     #+#     #+#        #+#        #+#     #+# #+#    #+#     
########   ########  ###    ### ########### ########## ########## ###     ###  #######*/     


/*
Theme Name: Social Gorillas
Author: Social Gorillas Marketing
Author URI: https://socialgorillas.com
Description: A child theme by Social Gorillas Marketing built for use with Hello Elementor. 
Version: 1.23.0
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: social-gorillas
Template: hello-elementor
*/